@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: larger;
    border: none;
}

.mat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px;
    background: #eee;
    border: 3px solid #888;
    border-radius: 5px;
    font-size: xx-large;
    font-weight: bold;
}