@charset "utf-8";

* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.painel {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #eee;
}

button {
    width: 150px;
    height: 30px;
    margin: 10px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.carro {
    /* width: 100px; */
    height: 40px;
    background-color: #f00;
}