* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: large;
}

#caixa {
    width: 250px;
    margin-left: 10px;
}

input {
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #eee;   
}

button {
    width: 100%;
    background-color: #ccc;
    padding: 5px;
    margin-block: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.caixa2 {
    display: flex;
    flex-direction: column;
    width: 98vw;
    padding: 5px;
    margin-left: 10px;
    border: 5px solid #000;
    border-radius: 10px;
}