@charset "utf-8";

.divmsg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.areaBoxmsg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
}

.tituloBoxmsg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: #fff;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}

.corpoBoxmsg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #eee;
    color: #000;
    padding: 30px 5px;
}

.rodapeBoxmsg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #ccc;
    color: #000;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
}

.btnBoxmsg {
    color: #fff;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}