@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

.btn-viewbox {
    padding: 10px 40px;
    margin: 50px 10px;
    background-color: #48f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-viewbox:hover {
    background-color: rgb(40, 80, 150);
}

.btn-viewbox2 {
    padding: 10px 40px;
    margin: 50px 10px;
    background-color: #48f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-viewbox2:hover {
    background-color: rgb(40, 80, 150);
}

.btn-viewbox3 {
    padding: 10px 40px;
    margin: 50px 10px;
    background-color: #48f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-viewbox3:hover {
    background-color: rgb(40, 80, 150);
}